.formulario_container {
  background-color: #2c444c;
  color: white;
  width: 35vw;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1.7vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.formulario_container .form_titulo {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.2vh;
  color: #fff;
}

.formulario_container .form_contenido {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formulario_container label {
  font-size: 1rem;
}

.formulario_container input,
.formulario_container textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.formulario_container button {
  margin-top: 1rem;
  background-color: #007b7f;
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.formulario_container button:hover {
  background-color: #009c9f;
}

.formulario_container button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
